<script>
    window.userLoggedIn = false;

    function isLoggedIn(){
        let accessToken = localStorage.getItem("accessToken");
        if(accessToken != null){
            // if there is an access token in localstorage
            window.userLoggedIn = true;
        }
        if (window.userLoggedIn) {
            let loginLink = document.getElementById("auth-link");
            loginLink.innerHTML = "Logout";
            loginLink.href = "/logout";
        } else {
            let loginLink = document.getElementById("auth-link");
            loginLink.innerHTML = "Login / Register";
            loginLink.href = "/login";
        }
        
    }

    window.onload = function(){
        isLoggedIn(); // when the page loads call isLoggedIn
    }

    document.getElementById("auth-link").addEventListener("click", function(event) {
        event.preventDefault();
        if (window.userLoggedIn) {
          // if user is logged in, log them out
          localStorage.removeItem("accessToken");
          localStorage.removeItem("refreshToken");
          window.location.href = "/";
        } else {
          // if user is not logged in, log them in
          window.location.href = "/login";
        }
      });
    </script>
</body>
<footer>
	<!-- footer code -->
</footer>
</html>