<html>
	<head>
		<!-- css and js libraries go here -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a id="auth-link" href="/login">Login</a>
                </li>
            </ul>
        </nav>
        
		<!-- code to show the navbar goes here -->