<%- include('header') -%>

<div id="main-content">

</div>
<script>
  let req = "http://localhost:1111/api/products/"
    fetch(req) // make a request to this endpoint
      .then(response => response.json()) // with our response, get the json data returned
      .then((data) => {
        console.log(data);
        for (let i = 0; i < data.length; i++) {
          let listItem = document.createElement('div');
          let link = document.createElement('a');
          let listImg = document.createElement('img');
          link.innerHTML = data[i].name;
          let productStr = "/product?id=" + data[i].id;
          link.href = productStr;
          listItem.innerHTML = data[i].name + ' ' + data[i].price + '<br>';
          listImg.src = data[i].image;
          listImg.alt = data[i].name;
          listImg.height = 300;
          listImg.width = 300;
          listItem.appendChild(listImg);
          listItem.appendChild(link);
          document.getElementById("main-content").appendChild(listItem);
        }
      
      }); // print the json data

      
  </script>

<%- include('footer') -%>