<%- include('header') -%>
<section class="section is-small"></section>

<section class="section level has-text-centered level-item columns">
    <div class="column"></div>
    <div class="column is-three-quarters">
        <h1 class="title">Thanks for your order!</h1>
        <p id="order-id-text">Your order number is: <span id="order-id"></span></p>
        <p>Your order has been placed successfully!</p>
        <p>You will receive an email with the order details shortly.</p>
        <p>Delivery takes usually 5-7 days.</p>
        <p id="estimated-delivery-text">Estimated Delivery <span id="estimated-delivery"></span></p>
    </div>
    <div class="column"></div>
</section>

<section class="section level level-item columns">
    <div class="column is-half">

        <div id="order-content">
            <h2 class="title is-4">Order details</h2>
            <p>Order placed at: <span id="order-time"></span> </p>
            <p>Order total: <span id="order-total"></span>€</p>
            <table id="order-table" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody id="order-table-body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="column is-half">
        <div id="shipping-content">
            <h2 class="title is-4">Shipping details</h2>
            <p><span id="shipping-name"></span></p>
            <p><span id="shipping-address"></span></p>
            <p><span id="shipping-city"></span></p>
            <p><span id="shipping-county"></span></p>
            <p><span id="shipping-country"></span></p>
            <p><span id="shipping-eircode"></span></p>
        </div>
    </div>
</section>

<section class="section level level-item columns">
    <div>
        <button id="prev-orders" class="button is-primary">
            Order History
        </button>
        <button id="home" class="button is-primary">
            Home
        </button>
    </div>
</section>




<script type="text/javascript" src="/javascripts/orders_success.js"></script>
<script>
    let params = window.location.search;
    let urlParams = new URLSearchParams(params);
    let orderId = urlParams.get('id');
    if (localStorage.getItem("accessToken") == null) {
        window.location.href = "/login";
    } else if (orderId != null || typeof(orderId) != 'undefined') {
        getInfo(orderId);
    } else {
        getInfo(null);
    }
</script>

<%- include('footer') -%>