<%- include('header') -%>
<section class="section is-small"></section>

<section class="level level-item columns">
    <div class="column"></div>
    <div class="column is-four-fifths">
      <div id="basket-content"></div>
    </div>
    <div class="column">
    </div>
</section>
<section class="section level level-item columns">
    <div class="column"></div>
    <div class="column is-three-quarters">
        <div id="order-content">
            <form id="order-submit" class="box">
                <h1 class="title">Shipping</h1>
                
                <div class="field">
                    <label for="ordername">Name</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <input type="text" class="input" id="ordername" placeholder="Name">
                    </div>
                    <p id="name-error" class="help is-danger" style="display: none;">
                        Name is required
                    </p>
                </div>

                <div class="field">
                    <label for="address1">Address Line 1</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <input type="text" class="input" id="address1" placeholder="Address Line 1">
                    </div>
                    <p id="address1-error" class="help is-danger" style="display: none;">
                        Address line 1 is required
                    </p>
                </div>

                <div class="field">
                    <label for="address2">Address Line 2</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <input type="text" class="input" id="address2" placeholder="Address Line 2">
                    </div>
                    <p id="address2-error" class="help is-danger" style="display: none;">
                        Address line 2 is required
                    </p>
                </div>

                <div class="field">
                    <label for="city">City</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <input type="text" class="input" id="city" placeholder="City">
                    </div>
                    <p id="city-error" class="help is-danger" style="display: none;">
                        City is required
                    </p>
                </div>

                <div class="field">
                    <label for="county">County</label>
                </div>


                <div class="field">
                    <div class="control select">
                        <select id="county" class="">
                            <option value="Select County">Select County</option>
                            <option value="Co. Carlow">Co. Carlow</option>
                            <option value="Co. Cavan">Co. Cavan</option>
                            <option value="Co. Clare">Co. Clare</option>
                            <option value="Co. Cork">Co. Cork</option>
                            <option value="Co. Donegal">Co. Donegal</option>
                            <option value="Co. Dublin">Co. Dublin</option>
                            <option value="Co. Galway">Co. Galway</option>
                            <option value="Co. Kerry">Co. Kerry</option>
                            <option value="Co. Kildare">Co. Kildare</option>
                            <option value="Co. Kilkenny">Co. Kilkenny</option>
                            <option value="Co. Laois">Co. Laois</option>
                            <option value="Co. Leitrim">Co. Leitrim</option>
                            <option value="Co. Limerick">Co. Limerick</option>
                            <option value="Co. Longford">Co. Longford</option>
                            <option value="Co. Louth">Co. Louth</option>
                            <option value="Co. Mayo">Co. Mayo</option>
                            <option value="Co. Meath">Co. Meath</option>
                            <option value="Co. Monaghan">Co. Monaghan</option>
                            <option value="Co. Offaly">Co. Offaly</option>
                            <option value="Co. Roscommon">Co. Roscommon</option>
                            <option value="Co. Sligo">Co. Sligo</option>
                            <option value="Co. Tipperary">Co. Tipperary</option>
                            <option value="Co. Waterford">Co. Waterford</option>
                            <option value="Co. Westmeath">Co. Westmeath</option>
                            <option value="Co. Wexford">Co. Wexford</option>
                            <option value="Co. Wicklow">Co. Wicklow</option>
                        </select>
                    </div>
                    <p id="county-error" class="help is-danger" style="display: none;">
                        County is required
                    </p>
                </div>

                <div class="field">
                    <label for="eircode">Eircode</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <input type="text" class="input" id="eircode" placeholder="Eircode" maxlength="7">
                    </div>
                    <p id="eircode-error" class="help is-danger" style="display: none;">
                        Eircode is required and has to be 7 characters long
                    </p>
                </div>
                <button type="submit" class="button is-primary">Buy</button>
            </form>
        </div>
    </div>
    <div class="column"></div>
  </section>
<script type="text/javascript" src="/javascripts/basket.js"></script>
<script type="text/javascript" src="/javascripts/orders.js"></script>
<script>
  if (localStorage.getItem("accessToken") == null) {
    window.location.href = "/login";
  } else {
    createBasket(true);
  }
</script>

<%- include('footer') -%>