<html>
    <head>
			<title>Product Page</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Product</h1>
        <%= data %>
        <img id="img" src="" alt="">
        <div>
          <p id="title"></p>
          <p id="desc"></p>
          <p id="price"></p>
        </div>
        <script>
            // your script goes here
            
        </script>
    </body>
</html>