<html>
    <head>
			<title>Product Page</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Product</h1>
        <img id="img" src="" alt="">
        <div>
          <p id="title"></p>
          <p id="desc"></p>
          <p id="price"></p>
        </div>
				<script>
					// your script goes here
          let params = window.location.search;
          let urlParams = new URLSearchParams(params);
          let prodId = urlParams.get('id');
          let req = "http://localhost:1111/api/products/" + prodId;
          if (prodId != null || typeof(prodId) != 'undefined') {
            fetch(req) // make a request to this endpoint
              .then(response => response.json()) // with our response, get the json data returned
              .then((data) => {
                if ('detail' in data) { 
                  console.log('NOT FOUND');
                } else {
                  console.log(data);
                }
              }
            ); // print the json data
          } 
          
					
				</script>
    </body>
</html>