<%- include('header') -%>

<h1>Product</h1>
<img id="img" src="" alt="">
<div>
  <p id="title"></p>
  <p id="desc"></p>
  <p id="price"></p>
  <button id="add-cart">Add to Cart</button>
</div>

<script type="text/javascript" src="/javascripts/products.js"></script>
<script>
  let params = window.location.search;
  let urlParams = new URLSearchParams(params);
  let prodId = urlParams.get('id');
  if (prodId != null || typeof(prodId) != 'undefined') {
    getProduct(prodId);
  } else {
    window.location.href = "/";
  }

  
</script>
<%- include('footer') -%>
