<%- include('header') -%>
<section class="section is-small"></section>

<section class="section level level-item columns">
  <div class="column"></div>
  <div class="column is-three-quarters">
    <form id="register-form" class="box">
      <h1 class="title">Register</h1>
      <div class="field">
        <label for="email" class="label">Email</label>
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <input class="input" type="email" name="email" id="email" placeholder="Your email">
        </div>
        <p id="email-error" class="help is-danger" style="display: none;">
          Email is required
        </p>
      </div>
      <div class="field">
        <label for="username" class="label">Username</label>
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fa-solid fa-user"></i>
          </span>
          <input class="input" type="text" name="username" id="username" placeholder="Your username">
        </div>
        <p id="username-error" class="help is-danger" style="display: none;">
          Username is required
        </p>
      </div>
      <div class="field">
        <label for="password" class="label">Password</label>
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          <input class="input" type="password" id="password" name="password" placeholder="********">
        </div>
        <p id="password-error" class="help is-danger" style="display: none;">
          Password is required
        </p>
      </div>
      <button type="submit" class="button is-primary">Register</button>
      <div class="mt-5">
        <p>Already have an account ? <a href="/login">Login Here</a></p>
      </div>
        
    </form>
  </div>
  <div class="column"></div>
</section>

<script>
  // your script goes here

  function formSubmit(event) {
    event.preventDefault();
    email = document.getElementById("email");
    uname = document.getElementById("username");
    pass = document.getElementById("password");
    error = document.getElementById("register-error");

    let isValid = true;

    if (uname.value === "") {
      document.getElementById("username-error").style.display = "block";
      isValid = false;
    } else {
      document.getElementById("username-error").style.display = "none";
    }
    
    if (pass.value === "") {
      document.getElementById("password-error").style.display = "block";
      isValid = false;
    } else {
      document.getElementById("password-error").style.display = "none";
    }

    if (email.value === "") {
      document.getElementById("email-error").style.display = "block";
      isValid = false;
    } else {
      document.getElementById("email-error").style.display = "none";
    }

    if (isValid) {
      fetch("http://ca298-api.duartemartinho.com:8000/apiregister/", {
        method: 'POST',
        headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({email: email.value, username: uname.value, password: pass.value})
      }).then(response=>response.json())
      .then(data => {
        console.log(data)
        if (data['username'] == uname.value) {
          fetch("http://ca298-api.duartemartinho.com:8000/api/token/", {
            method: 'POST',
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            },
            body: JSON.stringify({username: uname.value, password: pass.value})
          }).then(response=>response.json())
          .then(data => {
            console.log(data)
            if('access' in data){
              let accessToken = data['access'];
              let refreshToken = data['refresh'];
              localStorage.setItem("accessToken", accessToken);
              localStorage.setItem("refreshToken", refreshToken);
              window.location.href = "/";
            }
          });
        } else {
          error.innerHTML = "Register failed";
        }
      });
    }
  }
  
  const login = document.getElementById('register-form');
  login.addEventListener('submit', formSubmit);
  
  
</script>
<%- include('footer') -%>
