{%  extends "base.html" %}

{% block title %}New Order{%  endblock %}

{%  block content %}
    <h1>Thanks for your order!</h1>

    <h4>Order information:</h4>
    <p>Order placed at: {{order.datetimeOrder}}</p>
    <p>Items: </p>
    {% for item in sbi %}
        <p>{{item.productId.name}} - {{item.quantity}} {{item.price}}</p>
    {% endfor %}
    <br>
    <p>Total: {{order.total_price}}</p>
    <br>
    <h4>Shipping information:</h4>
    <p>{{order.addressline1}}</p>
    <p>{{order.addressline2}}</p>
    <p>{{order.city}}</p>
    <p>{{order.county}}</p>
    <p>{{order.country}}</p>
    <p>{{order.eircode}}</p>
{%  endblock %}