{%  extends "base.html" %}

{% block title %}{{product.name}}{%  endblock %}

{%  block content %}
    {% if added %}
    <center>
        <h2>Added To Basket</h2>
    </center>
    <br>
    {% endif %}
    <h5>{{product.name}}</h5>
    <p>Description: {{product.description}}</p> 
    <p>Price: {{product.price}} €</p>
    <img src="{{ product.image.url }}" alt="{{p.name}}" height="100" width="100" />
    <br>
    <a href="/addbasket/{{product.id}}" class="btn btn-primary">Add To Basket €{{product.price}}</a>


{%  endblock %}